<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
<nav>
    <ul class="nav-menu">
        <li><a th:href="@{/}" href="index.html" class="active">Novas Coleções</a></li>
        <li><a th:href="@{/produtos/vestidos}">Vestidos</a></li>
        <li><a th:href="@{/produtos/saias}">Saias</a></li>
        <li><a th:href="@{/produtos/blusas}">Blusas</a></li>
        <li><a th:href="@{/sobre}">Sobre Nós</a></li>
        <li><a th:href="@{/dashboard}" href="dashboard.html">Dashboard</a></li>
    </ul>
</nav>
 <h1>Projeto em Andamento</h1>


</body>
</html>